input[type="range"] {
  -webkit-appearance: none;
}

input[type="range"]::-webkit-slider-runnable-track {
  width: 300px;
  height: 5px;
  border-radius: 3px;
  position: relative;
}

input[type="range"]::-webkit-slider-runnable-track::after {
  content: "";
  display: block;
  height: 100%;
  border-radius: 3px;
  background-color: #a2021f;
  position: absolute;
  top: 0;
  left: 0;
  width: calc(
    (100% - 16px) * calc((100% - var(--min)) / (var(--max) - var(--min)))
  );
}

input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  height: 16px;
  width: 16px;
  border-radius: 50%;
  background: #a2021f;
  margin-top: -4px;
}

input[type="range"]::-moz-range-track {
  width: 300px;
  height: 5px;
  border: none;
  border-radius: 10px;
  position: relative;
}

input[type="range"]::-moz-range-track::after {
  content: "";
  display: block;
  height: 100%;
  border-radius: 3px;
  background-color: #a2021f;
  position: absolute;
  top: 0;
  left: 0;
  width: calc(
    (100% - 16px) * calc((100% - var(--min)) / (var(--max) - var(--min)))
  );
}

input[type="range"]::-moz-range-thumb {
  height: 16px;
  width: 16px;
  border-radius: 50%;
  background: #a2021f;
}

input[type="range"]::-ms-fill-lower {
  background: #777;
  border-radius: 10px;
}
input[type="range"]::-ms-fill-upper {
  border-radius: 10px;
}
input[type="range"]::-ms-thumb {
  height: 16px;
  width: 16px;
  border-radius: 50%;
  background: #a2021f;
}

.fixed-footer {
  position: fixed;
  bottom: 0;
  width: 100%;
}
